

<form [formGroup]="formGroup">
  <div>
    <label>First name</label>
    <input class="input" formControlName="firstName">
  </div>
  <div>
    <label>Last name</label>
    <input class="input" formControlName="lastName">
  </div>
  <div>
    <label>Username</label>
    <input class="input" formControlName="username">
  </div>


  <div>
    <button class="btn btn-secondary" (click)="addPhone()">Add phone</button>
  </div>

  <div formArrayName="phones" *ngFor="let phoneFormGroup of phoneFormArray.controls; let i = index">
    <div class="flex" [formGroupName]="i">
      <div>
        <label>Phone number</label>
        <input class="input" formControlName="phoneNumber">
      </div>
      <div>
        <label>Phone type</label>
        <input class="input" formControlName="phoneType">
      </div>
    </div>
  </div>

  <div>
    <button class="btn btn-primary" (click)="saveUser()">Save</button>
  </div>


</form>

